#ques{
  width: 60%;
  height: 36px;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  border-color:transparent;
  outline: none;
  transition: border-color 0.3s ease-in;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}
.rel-ques{
  border-bottom: 1px dashed #A5A5A5;
  padding: 20px;
}
.rel-ques a{
  text-decoration: none;
  color :#757575;
}
.rel-ques a:hover{
  color :#343434;
}
.rel-ques a:select{
  color :#343434;
}
button{
  border: none;
  outline: none;
  color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in;
}
button:hover{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}
button:active{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}
.theme{
    background-color: #fd745d !important;
    color : #FFF;
}
.card{
  background-color: #FAFAFA;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15),0 2px 8px 0 rgba(0,0,0,0.12);
  padding: 15px;
  border-radius: 3px;
}
#result{
  margin-top: 30px;
  font-size: 20px;
}
.step{
  margin-top :10px;
  padding: 10px;
}
#about-us{
  font-family: sans-serif;
  text-align: center;
  margin-top: 35px;
}
#rel-text{
  font-size: 20px;
  color:#757575;
  font-weight: 600;
}
#about-us span{
  display: block;
  font-size: 18px;
  color: #676767;
  margin-top: 10px;
  margin-bottom: 10px;
}
#about-us span:hover{
text-decoration: underline;
}
.step-no{
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  border-radius: 50%;
  width :50px;
  height:50px;
  margin-left: 10px;
  margin-right: 10px;
  color: #FFF;
  display: inline-block;
}
#solve{
  position: relative;
  left: -4px;
  font-size: 22px;
  width:120px;
  height: 60px;
  border:none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
  border-radius: 0 3px 3px 0;
}
.color1{
  background-color: #6e716e;
}
.color2{
  background-color: #5a5d5a;
}
.color3{
  background-color: #464846;
}
.color4{
  background-color: #353635;
}
.color5{
  background-color: #222322;
}
#sol{
  width:600px;
  margin: 15px;
  margin-left: 0px;
  height:auto;
  display: none;
  vertical-align: top;
  text-align: left;
}
#container{
  text-align: center;
}
#rel{
  vertical-align: top;
  margin-top: 15px;
  width:300px;
  height: 600px;
  display: none;
  text-align:left;
  overflow-y: auto;
}
#question{
  display: block;
  margin-top: 0px;
  padding: 5px;
  font-size: 25px;
  font-weight: 700;
  color: #757575;
}
#q-type{
    display: block;
    padding: 5px;
    font-size: 18px;
    color :#a0a0a0;
    font-weight: 500;
}
#ques-wrap{
  padding-top: 20px;
  text-align: center;
  position: relative;
}
#logo{
  margin-left: auto;
  margin-right: auto;
  width:400px;
  height: 120px;
  display: block;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
body{
    font-family: sans-serif;
  margin: 0px;
  padding-top: 10%;
  background-color: #F2F2F2;
}
@media only screen and (max-width : 768px){
  .step-no{
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
  }
  #about-us{
    width: 80%;
  }
  body{
    padding-top: 30%;
  }
#logo{
  width:250px;
  height: 75px;
}
#solve{
height: 50px;
}
#ques{
  padding: 5px;
}
#sol{
  max-width: 600px;
  width: 90%;
}
#rel{
  max-width: 400px;
  width: 90%;
}

}
